.btn-primary
{
    color: green
}
.form-check{
    color:green
}
.btn-link{
    color: green;
    text-decoration: none;
}
.card{
    background: rgb(255, 255, 255);
    border-radius: 0;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border: solid 1px rgb(20, 68, 20);
}

.card-header{
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 0;
    display: flex;
    background: none;
}

.hd-login{
    background-color: rgba(26, 177, 136, 1) ;
    padding: 5px 80px;
    color: aliceblue;
    margin: 0 auto;
}
.hd-regis{
    background-color: rgba(26, 177, 136, 1) ;
    color: aliceblue;
    padding: 5px 80px;
    margin: 0 auto;
}
.text-md-end{
    color: rgb(0, 0, 0);
    padding: 0;
    padding-top: 5px;
}
.form-control{
    border-radius: 0;
    background-color: rgb(237, 255, 249);
    border: solid 1px rgb(125 142 131);
}

.btn-bg {
    background-color: rgba(26, 177, 136, 1) ;
}

.bg-hd{
    background-color: rgba(26, 177, 136, 1) ;
}
